[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
ping3 = "*"
httpx = "*"

[dev-packages]
asgi-lifespan = "*"
pytest-asyncio = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
